extends ../shared/template
block content
  h1 List of Current Clients
  table.table.table-striped
    thead
      tr
        th Name
        th Gender
        th City
        th Balance
        th Photo
    tbody
      each person in people
        tr
          td= person.name
          td= person.gender
          td= person.city
          td= person.balance
