extends ../shared/template
block content
  h1 Display
  h1 Customer Profile
  ul
    li
      span Name
      #name
    li
      span Gender
      #gender
    li
      span Photo
      #photo
    li
      span City
      #city
    li
      span balance
      #balance
