extends ../shared/template
block content
  h1 Create A New Customer Profile
  ul
    li
      span Name
      input#name(type=text)
    li
      span Gender
      input#gender(type=text)
    li
      span Photo
      input#photo(type=text)
    li
      span City
      input#city(type=text)
    li
      span balance
      input#balance

    button#profile Create profile
